<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- thông tin kết nối đến database -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate_081024</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <!-- xoá - tạo lại từ đầu -->
        <!-- <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
        <!-- cập nhật những thông tin mới-->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- hiển thị câu lênh SQL phía console-->
        <property name="show_sql">true</property>

        <!-- Danh mapping file-->
        <mapping class="com.hibernate.model.Category"/>
        <mapping class="com.hibernate.model.Product"/>
    </session-factory>
</hibernate-configuration>